<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Edit User</h1>
  </div>
<%= render 'layouts/nav' %>

<div class = "container">
<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
</div>